.img_404 {
    width: 512px;
    height: 512px;
    background-image: url("../images/not_found_error.png");
}

.panel_404 {
    padding-top: 250px;
    margin-left: 37%;
}

.main_404 {
    width: 100%;
    height: 100%;
}

.img_500 {
    width: 450px;
    height: 450px;
    background-image: url("../images/server_error.png");
}

.panel_500 {
    padding-top: 250px;
    margin-left: 40%;
}

.main_500 {
    width: 100%;
    height: 100%;
}