.main_register {
    width: 100%;
    height: 980px;
    font-family: Consolas, serif;
}

.small_panel_register {
    padding-top: 200px;
    margin-left: 47%;
}

.img_register {
    width: 128px;
    height: 128px;
    background-image: url("../images/icon_128.png");
}

.panel_register {
    background: antiquewhite;
    border-radius: 10px;
    width: 450px;
    height: auto;
    margin-left: 75vh;
}

.begin_register {
    text-align: center;
    font-size: 27px;
    font-style: oblique;
    padding-top: 10px;
}

.reg_register {
    height: 440px;
}

.part_register {
    margin-left: 35px;
    margin-right: 35px;
    height: 75px;
    width: 380px;
}

.part_password_register {
    margin-left: 35px;
    margin-right: 35px;
    height: 130px;
    width: 380px;
}

.description_register {
    margin-top: 10px;
    height: 25px;
    width: 380px;
}

.in_data_register {
    height: 25px;
    width: 355px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.in_data_register:focus {
    outline-color: saddlebrown;
}

.btn_register {
    height: 50px;
    width: 380px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    color: antiquewhite;
    background: saddlebrown;
    border: 3px solid saddlebrown;
    font-size: 17px;
}

.small_indent {
    height: 5px;
}

.error_panel_register {
    margin-top: 2px;
    margin-left: 35px;
    height: 11px;
    font-style: italic;
    color: red;
    font-size: 15px;
}

.error_panel_register_2 {
    margin-left: 35px;
    margin-right: 25px;
    font-style: italic;
    color: red;
    font-size: 15px;
    height: fit-content;
}

.check_recovery {
    margin-left: 35px;
    height: 15px;
    width: 15px;
    border-color: saddlebrown;
}

.reg_register label {
    margin-bottom: 2px;
}

.main_register button {
    font-family: Consolas, serif;
}

.main_register input {
    font-family: Consolas, serif;
}