.img_success {
    width: 512px;
    height: 512px;
    background-image: url("../images/account_created.png");
}

.panel_success {
    padding-top: 200px;
    margin-left: 37%;
}

.main_success {
    width: 100%;
    height: 100%;
}

.text_success {
    text-align: center;
}

.text_success h1 {
    size: 30px;
    color: wheat;
    font-family: Consolas, serif;
}

.text_success a {
    font-size: 25px;
    color: wheat;
    font-family: Consolas, serif;
}

.text_success a:hover {
    font-size: 25px;
    color: wheat;
    font-family: Consolas, serif;
}