.btn {
    height: 50px;
    width: 380px;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 10px;
    text-align: center;
    color: antiquewhite;
    background: saddlebrown;
    border: 3px solid saddlebrown;
    font-size: 17px;
}

.btn:hover {
    background: #38629C;
    border: 3px solid #38629C;
}

.main {
    width: 100%;
    height: 100%;
    font-family: Consolas, serif;
}

.main button {
    font-family: Consolas, serif;
}

.find_group_panel {
    background: antiquewhite;
    border-radius: 10px;
    width: 450px;
    height: 225px;
    margin-left: 75vh;
    margin-top: 300px;
}

.find_panel {
    height: 200px;
}

.panel_part {
    margin-left: 35px;
    margin-right: 35px;
    height: 80px;
    width: 380px;
}

.input_group {
    height: 25px;
    width: 360px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.head {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

.input_description {
    margin-top: 10px;
    height: 25px;
    width: 380px;
}

.error_panel_part {
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 25px;
    font-style: italic;
    color: red;
    font-size: 15px;
    height: fit-content;
}

.btn_t {
    margin-top: 10px;
    height: 50px;
    width: 380px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 10px;
    text-align: center;
    color: antiquewhite;
    background: saddlebrown;
    border: 3px solid saddlebrown;
    font-size: 17px;
}

.btn_t:hover {
    background: #38629C;
    border: 3px solid #38629C;
}

.btn_subject {
    margin-left: 100px;
    margin-top: 20px;
    width: 250px;
    padding: 8px;
    height: 50px;
    font-size: 21px;
    border-radius: 5px;
    border-color: #4CAF50;
}

.btn_subject:hover {
    background-color: #4CAF50;
}

.subjects_button_panel {
    padding-top: 250px;
    padding-left: 700px;
}

.detail {
    margin-top: 25px;
    height: 40px;
    margin-left: 40px;
    font-size: 20px;
    width: 350px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.detail_name {
    text-align: left;
    margin-top: 10px;
    width: 450px;
    color: white;
}

.detail_value {
    margin-top: 5px;
    text-align: left;
    width: 250px;
    color: #4CAF50;
}

.data_panel_teacher {
    padding-top: 25px;
    margin-top: 200px;
    margin-left: 600px;
    width: 800px;
    height: 480px;
    background-color: saddlebrown;
}

.btn_view_group {
    margin-left: 40px;
    margin-top: 20px;
    height: 40px;
    width: 230px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    border-color: #38629C;
    background-color: #38629C;
}

.btn_view_group:hover {
    border-color: #4CAF50;
    background-color: #4CAF50;
}

.table_panel {
    margin-top: 120px;
}

.btn_view {
    border-radius: 3px;
}

.btn_view:hover {
    background-color: #38629C;
}

h1 {
    color: white;
    margin-left: 40px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    margin-left: 40px;
    margin-top: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.bar {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    overflow: hidden;
}

.bar a {
    height: 50px;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bar a:hover {
    background-color: #38629C;
    color: white;
}

.bar a:active {
    background-color: #4E3524;
    color: white;
}

.active {
    background-color: #4E3524;
    color: white !important;
}

.logout {
    background-color: darkred;
    color: white;
}

.select_skip {
    width: 50px;
}

.select_mark {
    width: 100px
}

.btn_end_lesson {
    margin-top: 25px;
    margin-left: 850px;
    height: 50px;
    width: 250px;
    font-size: 18px;
    background-color: #f2f2f2;
    border-radius: 3px;
    border-color: #38629C;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.btn_end_lesson:hover {
    background-color: #38629C;
    color: #f2f2f2;
}