.main_t {
    width: 100%;
    height: 100%;
    font-family: Consolas, serif;
}

.main_t button {
    font-family: Consolas, serif;
}

.panel_t {
    background: antiquewhite;
    border-radius: 10px;
    width: 450px;
    height: 225px;
    margin-left: 75vh;
    margin-top: 300px;
}

.find_panel_t {
    height: 200px;
}

.part_t {
    margin-left: 35px;
    margin-right: 35px;
    height: 80px;
    width: 380px;
}

.in_data_t {
    height: 25px;
    width: 360px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.begin_t {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

.description_t {
    margin-top: 10px;
    height: 25px;
    width: 380px;
}

.indent_t {
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 25px;
    font-style: italic;
    color: red;
    font-size: 15px;
    height: fit-content;
}

.btn_t {
    margin-top: 10px;
    height: 50px;
    width: 380px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 10px;
    text-align: center;
    color: antiquewhite;
    background: saddlebrown;
    border: 3px solid saddlebrown;
    font-size: 17px;
}

.btn_t:hover {
    background: #38629C;
    border: 3px solid #38629C;
}

.btn_s_t {
    margin-left: 100px;
    margin-top: 20px;
    width: 250px;
    padding: 8px;
    height: 50px;
    font-size: 21px;
    border-radius: 5px;
    border-color: #4CAF50;
}

.btn_s_t:hover {
    background-color: #4CAF50;
}

.subjects_panel_t {
    padding-top: 250px;
    padding-left: 700px;
}

.subject_detail {
    margin-top: 25px;
    height: 40px;
    margin-left: 40px;
    font-size: 20px;
    width: 350px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.subject_detail_name {
    text-align: left;
    margin-top: 10px;
    width: 250px;
    color: white;
}

.subject_detail_value {
    margin-top: 5px;
    text-align: left;
    width: 250px;
    color: #4CAF50;
}

.subject_data_panel_t {
    padding-top: 25px;
    margin-top: 200px;
    margin-left: 600px;
    width: 800px;
    height: 450px;
    background-color: saddlebrown;
}

.btn_st_t {
    margin-left: 40px;
    margin-top: 20px;
    height: 30px;
    border-radius: 3px;
    border-color: #38629C;
    background-color: #38629C;
}

.btn_st_t:hover {
    border-color: #4CAF50;
    background-color: #4CAF50;
}

.student_panel {
    margin-top: 120px;
}

.btn_view {
    border-radius: 3px;
}

.btn_view:hover {
    background-color: #38629C;
}

h1 {
    color: white;
    margin-left: 40px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    margin-left: 40px;
    margin-top: 10px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.bar_p {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    overflow: hidden;
}

.bar_p a {
    height: 50px;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bar_p a:hover {
    background-color: #38629C;
    color: white;
}

.bar_p a:active {
    background-color: #4E3524;
    color: white;
}

.active {
    background-color: #4E3524;
    color: white !important;
}

.logout {
    background-color: darkred;
    color: white;
}